* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(187, 107, 139);
}


/* QA DEV */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;

}

#containerHeader {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
}

.item {
    /* border-style: solid; */
    width: 50%;



}


/*-------- Column Names -----------*/


.Column {
    display: flex;
    width: 48%;
    justify-content: left;

}

.ColumnItem {

    margin: 0 auto;
    flex-grow: 1;
    border-style: solid;

}

#ColumnItemMyId_1 {
    min-width: 60px;

}

#firstColumnItem~.ColumnItem {
    border-left: 1px;
    /* overflow-wrap: break-word; */
}

#firstColumnItem {
    flex-grow: 0;
    width: 4vw;

}

#ColumnRight {
    margin-left: auto;
}

#ColumnItemMyId_1 {
    flex-grow: 0;
    width: 60px;
}



.btn {
    width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #5dc235;
    /* text-shadow: 2px 2px rgb(63, 118, 182);  */
    font-weight: bold;

}

textarea {
    resize: none;
    border: 1px;
    margin: 0 auto;
}